/*@media only screen and (max-width: 1240px) {
    .work-display-section {
        width: 40vw;
    }
}*/

@media only screen and (max-width: 1470px) {
    body {
        padding: 0;
    }

    #about-me p {
        padding-top: 8px;
    }

    .header {
    	-webkit-clip-path: polygon(100vw 0, 100vw 75vh, 50% 90%, 0 75vh, 0 0);
    	clip-path: polygon(100vw 0, 100vw 75vh, 50% 90%, 0 75vh, 0 0);
    }

    .logo-box {
    	top: 20px;
    	left: 20px;
    }

    .nav-button {
    	top: 20px;
    	right: 20px;
    }

    .btn:link, .btn:visited {
        padding: 20px 15px
    }

    .text-box , .heading-primary {
    	width: 100vw;
    }

    .heading-primary-main {
        padding-top: 40px;
    	font-size: 25px;
    	letter-spacing: 7px;
    	text-indent: 7px;

    }


    .heading-primary-sub {
    	font-size: 14px;
    	letter-spacing: 5px;
    	text-indent: 5px;
    	padding-top: 30px;
    }

    #profile-pic {
    	margin: 0;
    	width: 200px;
    }

    .about-content {
    	float: none;
    	text-align: center;
    }

    .section-content {
    	width: 80vw;
    }

    .stack-icons img {
    	padding: 100px 10px;
    	width: 70px;
    }

    #my-work {
    	-webkit-clip-path: polygon(50% 150px, 100% 0, 100% 100%, 0 100%, 0 0);
    	clip-path: polygon(50% 150px, 100% 0, 100% 100%, 0 100%, 0 0);
    }

    #my-work .work-display {
    	display: block;
        margin: auto;
        width: 100vw;
    }
    .work-display-section {
        min-width: 75vw;
        max-width: 100vw;
    }

    .work-display-section img {
    	min-width: 75vw;

    }
    .description-work-display {
    	height: auto;
    }

    /*Removing animation*/
    .btn::after {
        display: none;

    }

    .btn-white::after {
        display: none;
    }

    .btn:hover::after {
        display: none;
    }

/*    .rocket-finder img:hover{
        transform: scale(1.2) translate(0, 0);
    }

    .ravens img:hover {
        transform: scale(1.2) translate(0, 0);
    }

    .cryptofolio img:hover{
        transform: scale(1.2) translate(0, 0);
    }*/
    .navigation-item {
        padding-bottom: 45px;
    }

    .navigation-item a {
        font-size: 35px;
    }

    .navigation-item a:hover {
        background: none;
        font-size: 28px;
        padding: 0;
        color: white;
    }
    .navigation-list {
        top: 40%;
    }

}